<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets' />
  </head>
  <body>

  <style type="text/css">

      .roll {
	color: #00FF00;
        width: 50%;
        position: absolute;
        display: block;
        margin-left: 25%;
	transform: rotate3d(0,0,-1, deg);
      }
      .yaw {
        width: 50%;
        position: absolute;
        display: block;
        margin-left: 25%;

      }
      .pitch {
        width: 50%;
        position: absolute;
        display: block;
        margin-left: 25%;
	transform: translateY(px);
      }
    .heading {
      width: 20%;
      height: 100%;
      position: absolute;
      display: block;
      margin-left: 49.3%;
      margin-top: 37.5%;
      font-size: 150%;
    }
.com{
  width: 55%;
  margin-top: 18.4%;
  margin-left: 23.6%;

}
.vid{
   position:absolute;
   z-index:-200%;
   width:50%;
   margin-top:10%;
   margin-left:26%;
}


  </style>
<audio autoplay>
 <source src = "media/startUp.mp3" loop = "loop" type = "audio/mpeg">
</audio>

  <div class="menu" >
    <h1>
    <ul >
      <li> <a href="index.ejs" style="color:red; padding-left:300px" > Mako Pilot</a></li>
      <li> <a href="cop.ejs" style="color:red; padding-left:50px"> Co-Pilot</a></li>
      <li> <a href="ops.ejs" style="color:red;padding-left:50px"> Operations</a></li>
    </ul>
    </h1>
  </div>

    <div role="main" class="container">

      <img id="roll" src="/public/images/Roll.png" class="roll">

      <img id="pitch" src="/images/Pitch.png" class="pitch" >


<img class="vid" src="http://192.168.1.200/mjpg/video.mjpg">
      <!--end of orientation images-->

 <p id="N" class="heading" style="transform:translateX(px-80)">N</p>
 <p id="E" class="heading" style="transform:translateX(px-150)">E</p>
 <p id="S" class="heading" style="transform:translateX(px-245)">S</p>
 <p id="W" class="heading" style="transform:translateX(px+10)">W</p>
 <img src="/images/compass.png" class="com"  >



      <h2>HUD Transformation Data</h2>
      <p>
        <b>Yaw:</b> <span id="alpha"></span><br>
        <b>Pitch:</b> <span id="beta"></span><br>
        <b>Roll:</b> <span id="gamma"></span><br>
        <b>Heading:</b> <span id="heading"></span><br>
        <b>Last updated:</b> <span id="timestamp"></span><br><br><br>
        <b>Raw Data:</b> <br> <span id="rawData"> </span><br>
      </p>

      <button id="butTime" type="button">Start Timer</button>
      <h1 id="Timer"></h1>
      <button id="butSafe" type="button">Toggle LED</button>

    </div>

    <script src ="/javascripts/socket.io/socket.io.js"></script>
    <script type="text/javascript">


      var safetyButton = document.getElementById("butSafe");
      safetyButton.addEventListener("click", sendSafetyMessage);
      function sendSafetyMessage() {
        socket.emit('SafetyMessage', "Shutdown");
      }



      //socket io client connection. Note, there is not need to supply server URL/Port when node is source.
      var socket = io();

console.log("Hello world");

      function splitMessage(message) {
        var dataArray = message.split(' ');
        console.log(dataArray);


            //m = Math.atan((mY*Math.cos(AccZ)-mZ*Math.sin(AccZ))/(mX*Math.cos(AccX)+mY*Math.sin(AccZ)*Math.sin(AccX)-mZ*Math.cos(AccX)*Math.sin(AccX)))
            m = a;
	     heading.innerText = m;

        document.getElementById("rawData").innerHTML = tempText;
      }
      //socket io client callback to trap 'SocketStream' named socket. Note, msg is a JSON object and not string.
      socket.on('SocketStream',function(msg){
        document.getElementById("rawData").innerHTML = msg.bottomMessage;
        console.log(splitMessage(msg.bottomMessage));
        //displayHUD();
      });

    </script>
  </body>
</html>
